.clickable-tooth {
  cursor: pointer;
}

.clickable-tooth:hover {
  opacity: 0.8;
}

.round-corner {
  border-radius: 10px;
}

.personal-form {
  background-color: whitesmoke;
  padding: 20px;
}

.tooth {
  height: 70px;
  margin-left: -15px;
  margin-right: -15px;
}

.tooth:hover{
  height: 100px!important;
  margin-top: -15px;
  margin-bottom: -15px;
  position: relative;
  z-index: 10;
}

.tooth-row {
  margin-left: 70px;
  margin-right: 70px;
}

.tooth-row div {
  margin:auto
}

.genders {
  display: flex;
  margin-right:66%;
  margin-left:1%;
  justify-content: space-between;  
}

.clicked {
  height: 100px!important;
  margin-top: -15px;
  margin-bottom: -15px;
  position: relative;
  z-index: 20;
}

path {
  outline:none; 
  border:0px;
}

.desease-button button {
    border-radius: 5px!important;
    margin: 2px;
    border: 0px;
    outline:none; 
    border:0px;
    color: black;
    padding: 0.3rem 1rem;
    width: 200px
}

.desease-button button:hover {
  opacity: 0.8;
}

.dental-diagram {
  margin-top: 7%;
}

.popover .b-popover .bs-popover-top {
  min-width: 450px!important;
}

p {
  color: gray
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: gray;
  background-color: gray;
}